.login-wrapper {
  width: 400px;
  background-color: #fff;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottom-msg {
  font-size: larger;
}
.bottom-msg:hover {
  color: rgb(84, 84, 84);
}
.form-div div {
  display: flex;
  align-items: center;
}
.form-div {
  width: 100%;
}
