.main-header {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.toifaBtn {
  border: none;
  background-color: #eaeaea;
  padding: 0.4rem 1rem;
  font-weight: 600;
  text-transform: capitalize;
  font-size: small;
  margin: 0 8px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}

/*
////////////////////////////////////////////////
*/
.filter-select {
  cursor: pointer;
  display: flex;
  justify-content: end;
}

.filter-select p {
  display: flex;
  margin-right: 6px;
}

.filter-select p span {
  margin-right: 5px;
  font-style: normal;
  font-weight: 500;

  color: #fe5f1e;
}

.hide-filter-list {
  display: none;
}

.filter-list {
  list-style: none;
  margin-top: 20px;
  position: absolute;
  width: 132px;
  height: 135px;
  border-radius: 10px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 5px 15px rgb(212, 212, 212);
}

.filter-list li {
  width: 132px;
  height: 30%;
  display: flex;
  align-items: center;
  padding: 10px;
}

.filter-list li:hover {
  color: #fe5f1e;
  background-color: #fff5ee;
}

/*
////////////////////////////////////////////////
*/

.main-cards-title {
  font-weight: 700;
  font-size: 30px;
}
.main-cards {
  margin-top: 3rem;
}
.main-cards-all {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.7rem;
  row-gap: 1rem;
}
.main-header-left {
  display: flex;
  width: 700px;
}
.hozirgiToifa {
  background-color: #282828;
  color: #fff;
}
