.btn-container {
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.login-or-auth {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-or-auth header {
  text-align: center;
  margin-bottom: 30px;
}
.btn-container a button {
  width: 100px;
  height: 50px;
  background-color: none;
  border: none;
  border-radius: 5px;
  background-color: rgb(51, 180, 44);
  cursor: pointer;
  color: #fff;
  font-size: large;
}
