.footer-comp {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-comp .footer-div {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.footer-comp .footer-div p {
  font-size: 25px;
  font-weight: 600;
}
.footer-comp .footer-div a {
  color: #000;
  font-size: 40px;
  display: flex;
  align-items: center;
}
.footer-comp .footer-div a:hover {
  color: rgb(104, 104, 104);
}

.socials-cont {
  width: 400px;
  display: flex;
  align-items: center;
  column-gap: 2rem;
  row-gap: 1rem;
  flex-wrap: wrap;
}
