.error-page {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.error-page p {
  font-size: 70px;
}
